@font-face {
    font-family: 'Bubblegum Sans';
    src: url(../assets/Bubblegum_Sans/BubblegumSans-Regular.ttf);
}

html, html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Bubblegum Sans", "Courier New";
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.875rem;}
h6 {font-size: 0.75rem;}

body > * {
    border: 1px solid black;
    border-radius: 5px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    
}

li {
    list-style: none;
}

img, picture, video {
    max-inline-size: 100%;
}

label, button {
    cursor: pointer;
}

/* Load Animation */
.loader {
    width: 54px;
    height: 54px;
    position: relative;
    border-radius: 4px;
    background-color: pink;
    background-image:
        radial-gradient(circle 5px , red 100%, transparent 0),
        radial-gradient(circle 5px , red 100%, transparent 0),
        radial-gradient(circle 5px , red 100%, transparent 0),
        radial-gradient(circle 5px , red 100%, transparent 0),
        radial-gradient(circle 5px , red 100%, transparent 0),
        radial-gradient(circle 5px , red 100%, transparent 0);
        background-repeat: no-repeat;
    animation: move 4s linear infinite , rotate 2s linear infinite;
}
  
@keyframes rotate {
    0% , 20%{ transform: rotate(0deg)}
    30% , 40% { transform: rotate(90deg)}
    50% , 60% { transform: rotate(180deg)}
    70% , 80% { transform: rotate(270deg)}
    90%,  100% { transform: rotate(360deg)}
}

@keyframes move {
    0% ,  9% {
        background-position:
        -12px -15px,  -12px 0px, -12px 15px,
        12px -15px,  12px 0px,  12px 15px;
    }
    10% , 25% {
        background-position:
        0px -15px,  -12px 0px, -12px 15px,
        34px -15px,  12px 0px,  12px 15px;
    }
    30% , 45% {
        background-position:
        0px -34px, -12px -10px, -12px 12px,
        34px -15px, 12px -10px, 12px 12px;
    }
    50% , 65% {
        background-position:
        0px -34px, -12px -34px, -12px 12px,
        34px -12px, 0px -10px, 12px 12px;
    }
    70% , 85% {
        background-position:
        0px -34px, -12px -34px, 0px 12px,
        34px -12px, 0px -10px, 34px 12px;
    }
    90% , 100% {
        background-position:
        0px -34px, -12px -34px, 0px 0px,
        34px -12px, 0px 0px, 34px 12px;
    }
}
    
    
